.img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.file {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  background-color: #98d8bd00;
  box-shadow: 0 0 10px #f5f5f5;
  transition: all 0.3s ease-in-out;
}

.filesGrid {
  width: 100%;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: flex-start;
  padding: 40px;
  margin-top: 60px;
}

.parentFolder {
  margin-left: 30px;

  .folderName {
    font-size: 30px;
  }
}

.dots {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.icon {
  cursor: pointer;
}

.modal-box {
  width: 100%;
}

.full-width {
  width: 700px !important;
}


